﻿activity-box .box {
  border: solid 2px #DDD;
  margin-bottom: 10px;
  background-color: #FFF;
  font-family: 'Montserrat', sans-serif; }

activity-box .category {
  border-bottom: solid 1px #DDD;
  height: 36px; }
  activity-box .category .title {
    float: left;
    line-height: 36px;
    padding-left: 15px;
    color: #666; }
  activity-box .category .color {
    width: 12px;
    float: right;
    height: 100%;
    background-color: #337916; }

activity-box .activity .title {
  line-height: 45px;
  font-size: 16px;
  text-decoration: underline;
  display: inline; }

activity-box .activity .icons {
  display: inline;
  float: right;
  padding: 5px 0px; }
  activity-box .activity .icons div {
    font-size: 24px;
    display: inline;
    cursor: pointer; }
  activity-box .activity .icons .bookmark {
    padding: 0px 10px;
    color: #888; }
    activity-box .activity .icons .bookmark:hover {
      color: #C3C3C3; }
  activity-box .activity .icons .addToBasket {
    color: #0C50A5; }
    activity-box .activity .icons .addToBasket:hover {
      color: #85A7D2; }
  activity-box .activity .icons .fa-plus {
    font-size: 16px;
    vertical-align: middle;
    top: -0.3em;
    position: relative; }
  activity-box .activity .icons .fa-check {
    color: yellowgreen;
    cursor: default;
    font-size: 30px;
    padding-left: 5px; }
  activity-box .activity .icons .fa-bookmark {
    color: #075493; }

activity-box .activity .info {
  line-height: 30px;
  padding-top: 5px;
  padding-bottom: 10px;
  color: #888; }
  activity-box .activity .info i {
    font-size: 24px;
    padding-right: 5px;
    color: #666; }

activity-box .activity .description {
  color: #888; }

activity-box .activity .buttons {
  padding: 10px; }
  activity-box .activity .buttons button {
    width: 100%;
    height: 30px;
    margin: 5px 0px;
    border: 1px solid #777; }
    activity-box .activity .buttons button.register {
      background-color: #075493;
      color: white; }
    activity-box .activity .buttons button.view {
      background-color: #A1C5F6; }

activity-box .secondaryButtons {
  border-top: solid 1px #DDD;
  padding: 10px 15px; }
  activity-box .secondaryButtons i {
    font-size: 16px;
    color: #666; }
  activity-box .secondaryButtons a {
    text-decoration: underline; }
