﻿<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<div class="box">
    <div class="category">
        <div class="title" data-bind="text: categoryTitle"></div>
        <div class="color"></div>
    </div>
    <div class="activity container">
        
        <div class="heading">
            <div class="title">
                <a href="" data-bind="text: activityTitle"></a>
            </div>
            <div class="icons">
                <div class="bookmark" data-bind="click: Bookmark">
                    <i class="fa fa-bookmark-o"></i>
                </div>
                <div class="addToBasket" data-bind="click: AddToBasket">
                    <i class="fa fa-plus"></i><i class="fa fa-shopping-cart"></i>
                </div>
            </div>
        </div>

        <div class="info row">
            <div class="type col-md-5">
                <i class="fa fa-file-text-o"></i>
                <span data-bind="text: type"></span>
            </div>
            <div class="hours col-md-7">
                <i class="fa fa-clock-o"></i>
                <span data-bind="text: hours"></span>
            </div>
        </div>

        <div class="description" data-bind="text: description"></div>

        <div class="buttons row gutter-5">
            <div class="col-md-6 col-sm-6 col-xs-12"><button class="register">Register</button></div>
            <div class="col-md-6 col-sm-6 col-xs-12"><button class="view">View</button></div>
        </div>
    </div>

    <div class="secondaryButtons">
        <i class="fa fa-cog"></i>
        <span>
            <a href="">Common tasks</a>
        </span>
    </div>
</div>