﻿<div id="activities" class="activities container row gutter-5" data-bind="foreach:$data.Activities">
    <activity-box class="col-lg-4 col-md-6 col-xs-12" params="data: $data"></activity-box>
</div>

<script>
    (function () {
        $.get("/components/activity-box/example.json").done(function (data) {
            ko.applyBindings(data, document.getElementById("activities"));
        });
    })();
</script>