﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/components")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/bundles/components")
</head>

<body>
    <script>
        RegisterComponents();
    </script>

    <basic-navbar id="navbar" params="data: $data"></basic-navbar>
    <div class="body">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        (function () {
            $.get("/components/basic-navbar/example.json").done(function (data) {
                // Ideally all this JSON would be calculated server-side and passed down
                // through a model (or possibly async via API), but static version for now...
                ko.applyBindings(data, document.getElementById("navbar"));
            });
        })();
    </script>

</body>
</html>
