﻿body, html {
  background-color: #ecf0f1; }

.body {
  padding-top: 50px; }

.container {
  margin-left: auto;
  margin-right: auto; }

.activities {
  padding-top: 20px; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.gutter-5 > [class*='col-'] {
  padding-right: 5px;
  padding-left: 5px; }

.gutter-10 > [class*='col-'] {
  padding-right: 10px;
  padding-left: 10px; }
