﻿basic-navbar{

    .navbar{
        position: fixed;
        width:100%;
        font-family: 'Montserrat', sans-serif;
    }

    .navigationBar {
        border:0;
        height: 50px;
        box-shadow: rgba(0,0,0,0.117647) 0px 1px 3px 0px;
        width: 100%;
        position: fixed;
        background-color: white;

        .container{
            height: 100%;

            .logo{
                height:100%;
                line-height: 50px;

                img{
                    padding: 11px 0px;
                }

                span{
                    vertical-align:middle;
                    text-transform: uppercase;
                    font-family: 'Montserrat', sans-serif;
                    font-size:16px;
                }
            }

            ul{
                list-style:none;
                line-height:50px;
            

                li {
                    display:inline;
                    padding: 17px 15px;
                    font-family: 'Montserrat', sans-serif;
                    color: #888;
                    text-transform: uppercase;
                }
            }

            .items{
                text-align:right;
            }
        }
    }
}