﻿<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" data-bind="text: logoText, attr: { href: logoHref }"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" data-bind="foreach: links">

                <!-- Single elements -->
                <!-- ko if: !$data.hasOwnProperty("children") -->
                <li>
                    <a href="#" role="button" aria-haspopup="true" aria-expanded="false" data-bind="attr: {href: href}">
                        <span data-bind="text: title"></span>
                    </a>
                </li>
                <!-- /ko -->

                <!-- Elements with children-->
                <!-- ko if: $data.hasOwnProperty("children") -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span data-bind="text: title"></span>
                        <span class="caret"></span>
                    </a>
                        <ul class="dropdown-menu" data-bind="foreach:children">
                            <li>
                                <a data-bind="attr:{href:href}, text:title"></a>
                            </li>
                        </ul>
                </li>
                <!-- /ko -->

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>