﻿basic-navbar .navbar {
  position: fixed;
  width: 100%;
  font-family: 'Montserrat', sans-serif; }

basic-navbar .navigationBar {
  border: 0;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 3px 0px;
  width: 100%;
  position: fixed;
  background-color: white; }
  basic-navbar .navigationBar .container {
    height: 100%; }
    basic-navbar .navigationBar .container .logo {
      height: 100%;
      line-height: 50px; }
      basic-navbar .navigationBar .container .logo img {
        padding: 11px 0px; }
      basic-navbar .navigationBar .container .logo span {
        vertical-align: middle;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px; }
    basic-navbar .navigationBar .container ul {
      list-style: none;
      line-height: 50px; }
      basic-navbar .navigationBar .container ul li {
        display: inline;
        padding: 17px 15px;
        font-family: 'Montserrat', sans-serif;
        color: #888;
        text-transform: uppercase; }
    basic-navbar .navigationBar .container .items {
      text-align: right; }
